<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.safeshelter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        //Profile Activity
        <activity android:name=".ProfileActivity"/>

        //Settings Activity
        <activity android:name=".SettingsActivity"
            android:theme="@style/SettingsTheme"
            android:parentActivityName=".MainMenuActivity"/>

        //Main Menu Activity
        <activity android:name=".MainMenuActivity"/>

        //Register Activity
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".HomeActivity" />

        //Login Activity
        <activity android:name=".HomeActivity"/>

        //Splash Screen
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>